.contact-us {
  max-width: 850px;
  /* margin: auto; */
  border: 1px solid #ccc3c3;
  border-radius: 2px;
  background-color: #fcfcfc;
  margin: 9rem 9rem;
  align-self: center;
  margin-left: 15%;
  margin-top: 2%;

}

.from {
  background: linear-gradient(green white);
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us form {
  margin-top: 20px;
}

.contact-us button {
  width: 100%;
}




.bgImg {
  /* background-image: url('../assets/male-mechanics-working-together-car-shop.jpg'); */
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1250px;
  /* Adjust the height as needed */
}