.card-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
  height: 80vh; /* Increase the height to 80vh */
  width: 90vw; /* Decrease the width to 90vw */
  background-color: rgb(255, 251, 251);
 
}

.card {
  height: 100vh;
  width: 150vh;
  background-color: rgb(202, 34, 34);
  border-radius: 10px;
  padding: 90px;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10%;
  margin-top: 10%;
  box-shadow: inset 0 4px 14px 13px rgb(31 153 3 / 96%);
}

.card h2 {
  /* text-align: left; */
  /* width: 140vh; */
  margin-bottom: 10px;
  border-bottom: 4px solid green;
  padding-bottom: 5px;
  margin-top: 0%;
}
.inner-card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
}

.inner-card {
  flex: 0 1 calc(33.33% - 20px); /* Each card takes up one-third of the available space */
  background-color: #fffefe;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 280px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.inner-card:hover {
  background-color: #f8f3f3;
}

.inner-card img {
  max-width: 90%;
  height: 100px;
  width: 150px;
  border-radius: 50%;
}

.inner-card-text {
  color: #0f0808;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.view-add-button.semi-round {
  border: none;
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  transition: all 0.3s ease;
  margin-top: 10px;
  cursor: pointer;
}

.view-add-button.semi-round:hover {
  background-color: red;
}

.mechanic-name {
  border: 2px solid #ffeb3b;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.star-rating {
  color: #ffeb3b;
  font-size: 20px;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
}
.card-arrows {
  position: absolute;
  top: 50%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 1px;
}

.left-arrow {
  background: none;
  border: none;
  font-size: 40px;
  color: #00cc00;
  cursor: pointer;
  margin-left: -50px; /* Adjusted margin-left */
}

.right-arrow {
  background: none;
  border: none;
  font-size: 40px;
  color: #00cc00;
  cursor: pointer;
  margin-right: 40px; /* Adjusted margin-right */
}

.left-arrow:hover,
.right-arrow:hover {
  color: #009900;
}